@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.n1{
    font-weight: 500;
}

.nav1{
    background-color: #263238;
    height: 5%;
    color: white;
    text-align: center;
}

.nav2{
    background: rgb(102,154,225);
    background: linear-gradient(90deg, rgba(102,154,225,1) 0%, rgba(98,194,228,1) 50%);
    height: 10%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.logo{
    width: 150px;
}

.btn{
    border-radius: 100%;    
}

.btn1{
    background-color: #669AE1;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.profile{
    border-radius: 100%;
}

.linknav{
    color: white;
}

.collapse.navbar-collapse.justify-content-end li a{
    color: white;
    font-weight: 500;
}

.footer{
    background-color: #F0776C;
    height: 30px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-style: italic;
    bottom: 0;
    width: 100%;
}

.footer1{
    background-color: #F0776C;
    height: 30px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-style: italic;
    bottom: 0;
    position: absolute;
    width: 100%;
}